<center>
<h3>Send with the following contents</h3>
<%= form_with(model: @swiit, url: switters_path, local: true) do |form| %>
  <%= form.hidden_field :user %>
  <%= form.hidden_field :content %>
  <p>user:<%= @swiit.user %></p>
  <p>Content:<%= @swiit.content %></p>
  <%= form.submit  "Post" %>
  <%= form.submit "back", name: 'back' %>
<% end %>
</center>